<div class="view-container">
	<h2>View 1</h2>

	<label for="filterName">Name: </label> 
	<input name="filterName" type="text" ng-model="filterName" />
	<p>{{filterName}}</p>

	<ul>
		<li ng-repeat="cust in customers | orderBy:'name' | filter:filterName">{{cust.name | uppercase }}, {{cust.city}}</li>
	</ul>

	<h3>New Customer:</h3>
	<label for="newCustomerName">Name: </label> 
	<input name="newCustomerName" type="text" ng-model="newCustomer.name" />

	<label for="newCustomerCity">City: </label> 
	<input name="newCustomerCity" type="text" ng-model="newCustomer.city" />

	<button ng-click="addCustomer()">Add Customer</button>

</div>